.description {
	margin: 7% 150px;
	width: 40%;
}

.title {
	margin-bottom: 40px;
}

.title h2 {
	font-size: 3rem;
}

.img-about {
	margin-right: 50px;
	margin-top: 8rem;
}

.img-about img {
	border-radius: 50%;
	border: 6px solid var(--secondary-color);
}

a {
	font-size: 1em;
}

@media (max-width: 750px) {
	.description {
		margin: 20px 20px;
		width: 70%;
	}
}
