body {
	min-height: 100vh;
}

h2 {
	margin-top: 1em;
}

.contact-link {
	font-size: 3rem;
}
.contact-icon {
	font-size: 3rem;
}

@media (max-width: 800px) {
	.contact-icon {
		font-size: 2rem;
	}

	.contact-link {
		font-size: 1.2rem;
	}
}
