*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

:root {
	--img-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--primary-color: #ffd3de;
	--secondary-color: #3f8f8d;
	--tertiary-color: #5dc0a6;
}

body {
	border: 20px solid #ffbccd;
	min-height: 100vh;
}

/* TYPOGRAPHY */

h1,
h2,
h4,
.logo,
.nav-link {
	font-family: "Bebas Neue", cursive;
}

h3,
p,
a {
	font-family: "Fira Sans", sans-serif;
}

h1 {
	font-size: 6.5rem;
}

h2 {
	font-size: 4rem;
	text-align: center;
}

h3,
h4,
a {
	font-size: 2rem;
}

h4 {
	color: black;
}

a {
	text-decoration: none;
	color: #000;
	letter-spacing: 0.05em;
}

.logo {
	font-size: 2.5rem;
}

.nav-link {
	font-size: 1.75rem;
}

.project-title {
	margin-top: 1rem;
}

/* NAVBAR */

.navbar-custom {
	background-color: var(--primary-color);
	padding: 0.75rem 1.5rem;
}

/* Structure */

.container {
	max-width: 1200px;
}

.img-profile {
	max-width: 300px;
	border-radius: 50%;
	border: 6px solid var(--secondary-color);
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 3.5rem 1rem 2.5rem 1rem;
}

/* Project images */
.projects img {
	max-height: 300px;
	object-fit: cover;
	padding: 0.5em;
	border: 4px solid rgba(63, 143, 141, 0.8);
	border-radius: 5px;
}
/* Buttons */

.btn {
	padding: 15px 30px;
	border-radius: 30px;
	border: none;
	margin: 1.8rem 0;
}

.btn:hover,
.btn:focus {
	opacity: 0.8;
	cursor: pointer;
}

.btn-primary {
	background: var(--secondary-color);
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--secondary-color);
}

.btn-center {
	text-align: center;
}

/*Media queries*/

@media (max-width: 650px) {
	.logo {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 5rem;
	}

	h3 {
		font-size: 1.4rem;
		padding-top: 0.8rem;
	}
}
