body {
	height: 100vh;
	margin: 0;
	border: 20px solid #ffbccd;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
.logo,
.nav-link {
	font-family: "Bebas Neue", cursive;
}

.logo {
	font-size: 2.5rem;
}

.nav-link {
	font-size: 1.75rem;
}

p {
	font-family: "Montserrat", sans-serif;
}

/* NAVBAR */

.navbar-custom {
	background-color: #ffd3de;
	padding: 0.75rem 1.5rem;
}
