* {
	margin: 0;
	padding: 0;
}

body {
	border: 20px solid #ffbccd;
	min-height: 100vh;
}

/* TYPOGRAPHY */

h1,
h2,
.logo,
.nav-link {
	font-family: "Bebas Neue", cursive;
}

h3,
p,
a {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 6.5rem;
}

h2 {
	font-size: 4rem;
	text-align: center;
}

h3 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: #000;
	letter-spacing: 0.05em;
}

.logo {
	font-size: 2.5rem;
}

.nav-link {
	font-size: 1.75rem;
}

.project-title {
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
}

/* NAVBAR */

.navbar-custom {
	background-color: #ffd3de;
	padding: 0.75rem 1.5rem;
}

/* Structure */

.container {
	max-width: 1200px;
}

.img-profile {
	max-width: 300px;
	border-radius: 50%;
	border: 6px solid #777695;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 5rem 1rem 4rem 1rem;
}

.projects {
	display: flex;
	justify-content: space-evenly;
}

.project {
	margin: 10px 15px;
	max-width: 400px;
}

.project img {
	padding: 5px;
	border: 5px solid #ffd3de;
	margin-bottom: 10px;
}

/* Buttons */

.btn {
	padding: 10px 15px;
	border-radius: 30px;
	border: none;
	margin-top: 2rem;
}

.btn:hover,
.btn:focus {
	opacity: 0.8;
	cursor: pointer;
}

.btn-primary {
	background: #777695;
}

.btn-primary:hover,
.btn-primary:focus {
	background: #777695;
}

@media (max-width: 650px) {
	.header {
		flex-direction: column;
	}

	.img-profile {
		display: none;
	}
}
